<div class="bg-gray">
    <div class="container">
        <div class="policy-bg">
            <div class="row">
                <h3>Privacy Policy</h3>
                <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                    <p>StudyLock app respects the privacy rights of consumers and recognizes the importance of
                        protecting
                        the
                        information collected about you. So we’ve developed a Privacy Policy that covers how we collect,
                        use,
                        disclose, transfer, and store your information. As you use our services, we want you to be clear
                        how
                        we’re using information and the ways in which you can protect your privacy.<b> IF YOU DO NOT
                            AGREE TO
                            THIS POLICY, PLEASE DO NOT USE ANY “StudyLock” APP OR SERVICE. </b></p>
                    <p> <b>"StudyLock" </b> does not save or delete your information if you disagree with our privacy
                        policy
                        or
                        retreat the consent</p>
                    <h4>Information we collect</h4>
                    <p>We collect information to provide services to all of our users in two ways.</p>
                    <ul>
                        <li>Information you give us. Many of our services require you to sign up for an account. When
                            you
                            do,
                            we’ll ask for personal information, like your name, email address, telephone number.
                            Information
                            we
                            get from your use of our services. We may collect information about the services that you
                            use.
                        </li>
                    </ul>
                    <h4>This information includes:</h4>
                    <p>Device information</p>
                    <p>We may collect device-specific information, such as your hardware model, operating system
                        version,
                        mobile unique device ID (If applicable).</p>
                    <h4>Location information</h4>
                    <p>When you use a location-enabled service, we may collect and process information about your actual
                        location, like GPS signals sent by a mobile device. We may also use various technologies to
                        determine location, such as sensor data from your device that may, for example, provide
                        information
                        on nearby Wi-Fi access points and cell towers.</p>
                    <h4>Unique application numbers</h4>
                    <p>Certain services include a unique application number. This number and information about your
                        installation (for example, the operating system type and application version number) may be sent
                        to
                        us when you install or uninstall that service or when that service periodically contacts our
                        servers, such as for automatic updates.</p>
                    <h4>How We Use Information We collect</h4>
                    <p>We use the information we collect from all of our services to provide, maintain, protect and
                        improve
                        them, to develop new ones, and to protect “StudyLock” and our users.</p>
                    <p>From time to time, we may use your personal information to send important notices, such as
                        communications about purchases and changes to our terms, conditions, and policies. Because this
                        information is important to your interaction with “StudyLock”, you may not opt out of receiving
                        these communications.</p>
                    <p>We will ask for your consent before using information for a purpose other than those that are set
                        out
                        in this Privacy Policy.</p>
                    <h4>Sharing Your Information with Third Parties</h4>
                    <p>We will never share your personally identifiable information with third parties without your
                        consent.
                    </p>
                    <p>As above, our policy is not to disclose personal information collected online to a third party
                        for
                        direct marketing purposes without your approval. If you choose to opt-out at any time after
                        granting
                        approval, Please contact our Privacy Policy Officer appointed by StudyLock through e-mail
                        address:
                    </p>
                    <p>Data Transfers, Storage, and Global Processing</p>
                    <p>Your information may be transferred to, used, processed or held by “StudyLock” in other
                        countries,
                        including countries outside your country of residence both in and outside the United States, the
                        European Union and Asia, and used for the purposes set out in this Privacy Policy.</p>
                    <h4>Data Security and Integrity</h4>
                    <p>The security, integrity and confidentiality of your information are extremely important to us. We
                        have implemented technical, administrative and physical security measures that are designed to
                        protect information from unauthorized access, disclosure, use and modification. No method of
                        transmission over the Internet, or method of electronic storage, is 100% secure, however. We
                        cannot
                        guarantee that your information will not be accessed, disclosed, altered, or destroyed by breach
                        of
                        any of our physical, technical, or managerial safeguards. We cannot assume responsibility or
                        liability for unauthorized access to our servers and systems. We will make reasonable efforts
                        consistently to protect your information and ensure the security of our systems.</p>
                    <h4>Accessing and Updating Your Personal Information</h4>
                    <p>Whenever you use our services, we aim to provide you with access to your personal information. If
                        that information is wrong, we strive to give you ways to update it quickly or to delete it –
                        unless
                        we have to keep that information for legitimate business or legal purposes. When updating your
                        personal information, we may ask you to verify your identity before we can act on your request.
                    </p>
                    <p>Where we can provide information access and correction, we will do so for free, except where it
                        would
                        require a disproportionate effort. We aim to maintain our services in a manner that protects
                        information from accidental or malicious destruction. Because of this, after you delete
                        information
                        from our services, we may not immediately delete residual copies from our active servers and may
                        not
                        remove information from our backup systems.</p>
                    <h4>Changes to This Privacy Policy</h4>
                    <p>From time to time, we may change this privacy policy to accommodate new technologies, industry
                        practices, regulatory requirements or for other purposes. We will provide notice to you if these
                        changes are material and, where required by applicable law, we will obtain your consent. Contact
                        Information</p>
                    <h4>Compliance with General Data Protection Regulation</h4>
                    <p>"StudyLock" always uses its best efforts to comply with the applicable terms and conditions in
                        General Data Protection Regulation (hereinafter ' GDPR ').</p>
                    <p>The definition of the Personal Data in this Section (the “Personal data”) has the same definition
                        with such Article 4, Section used in GDPR and “StudyLock” will process such Personal data in
                        accordance with the relevant provision in GDPR. Accordingly, as part of our efforts, “StudyLock”
                        will collect your Personal Data only for providing and exploiting the Software and, upon
                        achieving
                        such purposes, “StudyLock” will use its best efforts to immediately and promptly delete all your
                        Personal Data.</p>
                    <p>“StudyLock” can collect and utilize the following type/scope of the Personal Data for providing
                        the
                        Software and helping you uses the Software more efficiently:</p>
                    <h4>[Collected Information]</h4>
                    <ul>
                        <li>The Information to be collected whiles you using and exploiting the Software: Device
                            information, Internet protocol address. Location information, Unique application numbers
                        </li>
                        <li>The information to be collected while you consulting with “StudyLock” (or you receiving any
                            help
                            from “StudyLock”): User contact information, including, but not limited to, email, phone
                            number
                        </li>
                    </ul>
                    <p>Under GDPR, you can request “StudyLock” </p>
                    <ul class="list-inline">
                        <li class="d-flex"><span>(1)</span><span> To delete your Personal Data;</span></li>
                        <li class="d-flex"><span>(2) </span> <span>To limit the usage of your Personal Data;</span></li>
                        <li class="d-flex"><span>(3) </span> <span>To correct your Personal Data which is wrongfully
                                written or reported; or</span></li>
                        <li class="d-flex"><span>(4) </span> <span>To take other actions allowed to you under the GDPR.
                                Upon your request or demand,
                                “StudyLock”
                                will use best efforts to promptly respond to your inquiry and/or demand in accordance
                                with
                                the
                                applicable provisions in GDPR. However, with any result or measure caused by your
                                request,
                                your
                                usage of the Software would (can) be limited or prevented.</span></li>
                    </ul>
                    <p>In respect to your Personal Data, if you have any questions give any injury or wish to complaint,
                        please feel free to contact us</p>
                    <p class="text-gray"><b>E-mail :</b> <a href="mailto:info@izonnet.com" class="ps-2">info@izonnet.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>